<h1>iSorry</h1>

<div class='tipo row'>
  <% @mensagems.each do |mensagem| %>
   <div class='col-lg-3'>
     <div class='mensagem'><%= mensagem.conteudo %></div>
   </div> 
  <% end %>
</div>  

<br>

