<h1>Listing mensagems</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Conteudo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mensagems.each do |mensagem| %>
      <tr>
        <td><%= mensagem.tipo %></td>
        <td><%= mensagem.conteudo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

