<h1>iSorry</h1>
<h3>Ofendi</h3>
<div class='tipo row'>
  <% @ofendi.each do |mensagem| %>
   <div class='col-lg-4'>
     <div class='mensagem'><%= mensagem.conteudo %></div>
   </div> 
  <% end %>
</div>

<h3>Dei Bolo</h3>
<div class='tipo row'>
  <% @dei_bolo.each do |mensagem| %>
   <div class='col-lg-4'>
     <div class='mensagem'><%= mensagem.conteudo %></div>
   </div> 
  <% end %>
</div>  

<h3>Foi Sem Querer</h3>
<div class='tipo row'>
  <% @foi_sem_querer.each do |mensagem| %>
   <div class='col-lg-4'>
     <div class='mensagem'><%= mensagem.conteudo %></div>
   </div> 
  <% end %>
</div>     

<br>

