// Place all the styles related to the Mensagems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mensagem {
    background-color: rgb(238, 238, 238);
    height: 90px;
    overflow: hidden;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Comic Sans MS';
}

h1 {
	color: white !important; 
	font-size: 60px !important;
    font-weight: bold !important;
	text-align: center;
	font-family: 'Comic Sans MS' !important;
}

h3 {
	color: white !important;
	font-size: 35px !important;
	font-family: 'Comic Sans MS' !important;
}

body {
	background-image: url('http://f.fwallpapers.com/images/blue-hearts-background.jpg');
	opacity: 0.95;
}